.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }

#room_list{
  display: grid;
  grid-template-columns: repeat(1,350px);
  grid-template-rows: repeat(3,10px);
  gap: 10px 10px;
  /* background-color: black; */

}