

{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/crear_reserva.css' %}" />

    <div class="container">
        <h1>Crear Reserva</h1>
        <form method="post">
            {% csrf_token %}
            <label for="check_in_date">Fecha de Entrada:</label>
            <input type="date" name="check_in_date" required><br>

            <label for="check_out_date">Fecha de Salida</label>
            <input type="date" name="check_out_date" required><br>

            <label for="room">Habitación:</label>
            <select name="room" required>
                <option value="">Seleccione</option>
                {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room.room_number }}</option>
                {% endfor %}
            </select><br>
                        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <input type="submit" value="Crear Reserva">
        </form>
    </div>
{% endblock %}
